<h1>Drag-and-Drop Nametag Editor</h1>
<h3>(Proof of Concept)</h3>
<div class="row">
    <div class="jumbotron col-md-5" style="width: 3in; height: 2in">
        <div class="draggable" style="border: black 1px dotted; width: 100px; height: 25px; position: absolute; -webkit-transform: translate(-37px, -19px)">
            <span>First Name</span>
        </div>
        <div class="draggable" style="border: black 1px dotted; width: 100px; height: 25px; position: absolute; -webkit-transform: translate(-37px, 12px)">
            <span>Last Name</span>
        </div>
        <div class="draggable" style="border: black 1px dotted; width: 100px; height: 25px; position: absolute; -webkit-transform: translate(30px, 110px)">
            <span>Email</span>
        </div>
        <img src="../images/yeoman.png" class="draggable" style="width: 100px; height: 100px; position: absolute" />
    </div>
    <div class="col-md-7 form">
        <table class="table table-hover">
            <tr data-ng-repeat="item in items">
                <td class="col-md-1"></td>
                <td style="text-align:center" class="col-md-4">
                    {{ item.name }}
                </td>
                <td style="text-align:right" class="col-md-4">
                    <button type="button" class="btn">Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </table>
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-picture" aria-hidden="true" /> Add Image
        </button>
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-text-height" aria-hidden="true" /> Add Text
        </button> 
    </div>
</div>
<br /> 
<div class="row">
    <pre>
    {
        width:3.6in,
        height:2.5in,
        elements: [
            {
                x: 20%,
                y: 10%,
                width: 10%,
                height: 5%,
                resize-rule:fill,
                type:text,
                font:"Arial",
                text-align:center,
                value: “{F1} {F2}, {F3}”
            },
            {
                x: 5%,
                y: 5%,
                width: 100px,
                height: 50px,
                resize-rule: clip,
                type:image,
                value: “https://....png"
            }]
    }
    </pre>
</div>